%display-flex-a-start-j-cb{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
%display-flex-a-center-j-cb{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
%display-flex-align-center{
  display: flex;
  align-items:center;
}

%general-btn2{
  color: rgb(255, 255, 255);
  background: #0022ff;
  border-radius:16px 0 0 px;
}
%title{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
%question-wrap{
  padding: 10px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #000000;
  border: 2px solid $color-white;
}
