%display-flex-a-start-j-cb{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
%display-flex-a-center-j-cb{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
%display-flex-align-center{
  display: flex;
  align-items:center;
}

