@mixin navbar-menu{
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@mixin h1-tile{
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
  color: #263238;
}

@mixin project__btn{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(38, 50, 56, 1);
}
@mixin project__btn__black{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(38, 50, 56, 1);
}
